<%- include('../partials/header') %>

<section class="page-content error-page">
  <h1>Error</h1>
  <p><%= message %></p>
  <a href="/" class="btn">Go Home</a>
</section>

<%- include('../partials/footer') %>
